doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/base.css')
    link(rel='stylesheet' href='./css/homepage.css')
    title Cashier
  body
    .page.homePage(style="background-image: url(/img/cashier.png);background-repeat: no-repeat;background-size: cover; opacity: 0.7; ")
      .header
        .logo
          img(src='./img/restaurant-512.webp' alt='' srcset='' style="float:left;width:60px;")
          span.logo-text() Home
        .user-login
          span.login-btn Cashier
      .title
        | Xin chào Cashier!
      .btn-group
        a.btn.greencolor(href='#') Manager Sales
        a.btn(href='#') View Ratins&Review
