doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/base.css')
    title Login
  body
    .page.firstPage
      .container
        .firstPage-img-container
          img(src='/img/restaurant-512.webp' alt='' srcset='' )
        h1.firstPage-title(style="color: white;") Restaurant P.O.S 2.0
        .btn.al-center Đăng nhập
//tqv