head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/base.css')
  title Login
.page.login(style="background-image: url(/img/lock.jpg); background-repeat: no-repeat;background-size: cover; opacity: 0.8;")
  .logo
    img(src='/img/restaurant-512.webp' alt='' srcset='')
    span.logo-text Restaurant P.O.S 2.0
  form.login-form(style="opacity: 0.8;")
    .login-title &Dstrok;&abreve;ng Nh&#x1EAD;p
    .form-input
      .user-input
        label(for='username') T&ecirc;n &dstrok;&abreve;ng nh&#x1EAD;p
        input.username(type='text')
      .user-input
        label(for='password') M&#x1EAD;t kh&#x1EA9;u
        input.password(type='password')
    .btn-group
      a.login-btn(href='#') H&#x1EE7;y b&#x1ECF;
      a.login-btn(href='#') &Dstrok;&abreve;ng nh&#x1EAD;p
    .forgot-password
      a(href='#') Qu&ecirc;n m&#x1EAD;t kh&#x1EA9;u
    .bottom-text

