doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/base.css')
    link(rel='stylesheet' href='./css/homepage.css')
    title Paymentsuccess page
  body
    .page.homePage.paymentsuccess
      .header.paymentPage
        .logo
          img(src='./images/backarrow.jpg' alt='' srcset='')
          span.logo-text Back
        .payment
          span.paymenttitle Payment
      .success-inf
        .successmessage
          div
            div  Date paid 
            div  day, year  
          div
            div  Receipt number 
            div  xxxxxxx 
      .successbtn
        .btn-group
          a.button.greycolor(href='#') Add Review
          a.button.greenbanana(href='#') Back to home
