doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/base.css')
    link(rel='stylesheet' href='./css/homepage.css')
    title Paymentsuccess page
  body
    .page.homePage.paymentsuccess
      .header.paymentPage
        .logo
          a(href='/payment')
            img(src='./img/backarrow.jpg' alt='' srcset='' style="display: inline;float:left;")
            h1(style="display: inline; float:left; margin-left: 10px;") Back
        .payment
          span.paymenttitle Payment
      .success-inf
        .successmessage
          div
            div  Date paid 
            div  day, year  
          div
            div  Receipt number 
            div  xxxxxxx 
      .successbtn
        .btn-group
          a.button.greycolor(href='#') Add Review
          a.button.greenbanana(href='order') Back to home
