doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/base.css')
    link(rel='stylesheet' href='/css/homepage.css')
    title Paymentfailed page
  body
    .page.homePage.paymentfalied
      .header.paymentPage
        .logo
          a(href='/payment')
            img(src='./img/backarrow.jpg' alt='' srcset='' style="display: inline;float:left;")
            h1(style="display: inline; float:left; margin-left: 10px;") Back
        .payment
          span.paymenttitle Payment
      div
        .failedmessage Payment failed
        | >
        .failedbtn
          .btn-group
            a.button.greycolor(href='/payment') Retry
            a.button.greenbanana(href='/payment') Change payment method
