<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/homepage.css">
    <title>Payment1 page</title>
</head>
<body>
    <div class="page homePage paymentPage">
       <div class="header paymentPage">
            <div class="logo">
                <img src="./img/backarrow.jpg" alt="" srcset="">
                <span class="logo-text">Back</span>
            </div>

            <div class="payment">
                <span class="paymenttitle">Payment</span>
            </div>
       </div>

       <div class="logopayment">
        <img src="./img/pay2.jpg" alt="" srcset="">
        <img src="./img/pay2.jpg" alt="" srcset="">
        <img src="./img/pay3.jpg" alt="" srcset="">
       </div>
       <div>
       <form  class="login-form paymentform"> 
                <div class="user-input card cardname">
                    <label for="cardname">Card Name</label>
                    <input type="text" class="username" >
                </div> 
                <div class="user-input card cardnumber">
                    <label for="cardnumber">Card number</label>
                    <input type="text" class="username" >
                </div>  
                <div class="double-input">
                    <div class="user-input card ref">
                        <label for="date">MM/YY</label>
                        <input type="text" class="username" >
                    </div> 
                    <div class="user-input card ref">
                        <label for="cvv">CVV</label>
                        <input type="text" class="username" >
                    </div>
                </div> 
       </form>
       </div>
       <div class="paymentbtn-1">
       <div class="btn-group">
        <a href="#" class="btn">Pay now <span> 30$</span></a>
       </div>
        </div>
    </div>
</body>
</html>